body {
  background-color: #181a1b;
}
.node {
  fill: #c8c3bc;
  stroke: #e8e6e3;
  stroke-width: 1.5px;
}
.link {
  stroke: #e8e6e3;
  stroke-width: 1.5px;
}
.link.shortest {
  stroke: #338bff;
  stroke-width: 5px;
}